# SERVER
PORT=
NODE_ENV=

# DB_INFO
DB_NAME=
DB_PASSWORD=
DB_USERNAME=
DB_HOST=

# EXPRESS_SESSION
HTTPONLY=
SECURE=
MAX_AGE_ACCESS=
MAX_AGE_REFRESH=

# TOKEN_KEYS
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=